include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include teamplan *.css
recursive-include teamplan *.csv
recursive-include teamplan *.html
recursive-include teamplan *.ico
recursive-include teamplan *.js
recursive-include teamplan *.json
recursive-include teamplan *.md
recursive-include teamplan *.png
recursive-include teamplan *.py
recursive-include teamplan *.svg
recursive-include teamplan *.txt
recursive-exclude teamplan *.pyc
